/* Font Responsive  
font-size: 
calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
 */
body{
    background-image: linear-gradient(pink, rgb(221, 203, 103));
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #4E5150;
    font-size: calc(12px + (14 - 12) * ((100vw - 375px) / (1440 - 375)));
}
header{
    max-width: 372px;
    margin: auto;
    padding: 1.83em 4.17em;
}
.profile{
    display: flex;
    flex-direction: column;
}
.profile img{
    width: 45%;
    margin: auto;
    margin-bottom: 1em;
    border-radius: 1.5em;
}
span.name{
    font-size: 1.5em;
}
span.city{
    color: #838080;
    font-size: .88em;
}
.account{
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
}
.account-box{
    padding: 1em 0 ;
    background: #E5E5E5;
    border-radius: .88em;
    display: flex;
    flex-direction: column;
    width: 33.3333%;
    margin: .5em;
}
.statistic-num{
    font-size: 1.13em;
}
.statistic-des{
    font-size: .88em;
    color: #BDBDBD;
}

.gallery{
    max-width: 1000px;
    margin: auto;
    margin-top: 1.5em;
    padding: .33em;
}
.section-1{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
img{
    border-radius: .88em;
    margin: .5%;
}
.section-2{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.col-1{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 66.5%;
}
.col-2{
    width: 32.5%;
}
footer{
    margin-top: 2em;
    width: 100%;
    text-align: center;
    font-size: .8rem;
    color: #838080;
}